.title {
  text-align: center;
}

.authors {
  display: flex;
  flex-wrap: wrap;
  gap: 50px;
  justify-content: flex-start;
  align-items: center;
  padding: 20px;
}

.author-img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
}
